@font-face {
  font-family: Akrobat;
  src: url(../fonts/Akrobat/Akrobat-Black.otf);
  font-weight: 900;
}

@font-face {
  font-family: Akrobat;
  src: url(../fonts/Akrobat/Akrobat-ExtraBold.otf);
  font-weight: 800;
}

@font-face {
  font-family: Akrobat;
  src: url(../fonts/Akrobat/Akrobat-Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: Akrobat;
  src: url(../fonts/Akrobat/Akrobat-SemiBold.otf);
  font-weight: 600;
}

@font-face {
  font-family: Akrobat;
  src: url(../fonts/Akrobat/Akrobat-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: Akrobat;
  src: url(../fonts/Akrobat/Akrobat-Light.otf);
  font-weight: 300;
}

@font-face {
  font-family: Akrobat;
  src: url(../fonts/Akrobat/Akrobat-ExtraLight.otf);
  font-weight: 200;
}

@font-face {
  font-family: Akrobat;
  src: url(../fonts/Akrobat/Akrobat-Thin.otf);
  font-weight: 100;
}

.header-nav .toggler-icon {
  display: none;
}

.header-nav .nav-bar {
  margin: 0;
  padding: 0;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header-nav .nav-bar .nav-item {
  position: relative;
  margin-right: 55px;
}

.header-nav .nav-bar .nav-item .nav-link {
  padding: 0;
  font-size: 24px;
  font-weight: 400;
  color: #fffefe;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

.header-nav .nav-bar .nav-item .nav-link::after {
  margin: 0 auto;
  -webkit-transform: translateY(7px);
  transform: translateY(7px);
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #f3d11c;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

.header-nav .nav-bar .nav-item .nav-link:hover {
  color: #f3d11c;
}

.header-nav .nav-bar .nav-item .nav-link:hover::after {
  width: 100%;
}

.header-nav .nav-bar .nav-item .nav-link.active::after {
  width: 100%;
}

.header-nav .nav-bar .nav-item__languages {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-nav .nav-bar .nav-item__languages .languages {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 60px;
}

.header-nav .nav-bar .nav-item__languages .languages a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  color: #fffefe;
  margin: 0 5px;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

.header-nav .nav-bar .nav-item__languages .languages a::after {
  margin: 0 auto;
  -webkit-transform: translateY(7px);
  transform: translateY(7px);
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #f3d11c;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

.header-nav .nav-bar .nav-item__languages .languages a:hover {
  color: #f3d11c;
}

.header-nav .nav-bar .nav-item__languages .languages a:hover::after {
  width: 100%;
}

.header-nav .nav-bar .nav-item__languages .languages a.active::after {
  width: 100%;
}

.header-nav .nav-bar .nav-item__languages .enter-to-cab {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.header-nav .nav-bar .nav-item__languages .enter-to-cab span {
  font-size: 24px;
  font-weight: 400;
  margin-right: 4px;
  color: #fffefe;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

.header-nav .nav-bar .nav-item__languages .enter-to-cab img {
  width: 30px;
}

.header-nav .nav-bar .nav-item__languages .enter-to-cab:hover span {
  color: #f3d11c;
}

@media only screen and (max-width: 1199px) {
  .header-nav .nav-bar .nav-item {
    position: relative;
    margin-right: 40px;
  }
  .header-nav .nav-bar .nav-item .nav-link {
    font-size: 22px;
  }
  .header-nav .nav-bar .nav-item .nav-link::after {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  .header-nav .nav-bar .nav-item__languages .languages {
    margin-right: 40px;
  }
  .header-nav .nav-bar .nav-item__languages .languages a {
    font-size: 22px;
    font-weight: 400;
  }
  .header-nav .nav-bar .nav-item__languages .languages a::after {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  .header-nav .nav-bar .nav-item__languages .enter-to-cab span {
    font-size: 22px;
  }
  .header-nav .nav-bar .nav-item__languages .enter-to-cab img {
    width: 28px;
  }
}

@media only screen and (max-width: 991px) {
  .nav-container {
    width: 100%;
    padding: 0;
  }
  .nav-container .row {
    margin: 0;
    position: relative;
  }
  .nav-container .row * {
    z-index: 3;
  }
  .header-nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .header-nav .toggler-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    cursor: pointer;
    -webkit-transition: all, 0.5s;
    transition: all, 0.5s;
    position: absolute;
    right: 30px;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    transition: all, 0.5s;
  }
  .header-nav .toggler-icon div {
    width: 30px;
    height: 3px;
    background: #fffefe;
    border-radius: 3px;
    margin-top: 5px;
    -webkit-transition: all, 0.95s;
    transition: all, 0.95s;
  }
  .header-nav .toggler-icon div:first-child {
    margin-top: 0;
  }
  .header-nav .toggler-icon_close div {
    width: 30px;
    height: 3px;
    background: #fffefe;
    margin-top: 5px;
  }
  .header-nav .toggler-icon_close div:first-child {
    margin-top: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .header-nav .toggler-icon_close div:nth-child(2) {
    margin-top: -2px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .header-nav .toggler-icon_close div:last-child {
    display: none;
  }
  .header-nav .nav-bar {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 310;
    background: #101111;
    padding: 10px 0;
  }
  .header-nav .nav-bar li {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-left: 0;
    padding-top: 20px;
    margin-bottom: 0;
    border-top: none;
    padding-bottom: 20px;
    -webkit-transition: all, .3s;
    transition: all, .3s;
  }
  .header-nav .nav-bar li:hover {
    background: #292b2b;
  }
  .header-nav .nav-bar .nav-item {
    margin-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .header-nav .toggler-icon {
    right: 30px;
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
  }
  .header-nav .toggler-icon div {
    width: 25px;
    height: 2px;
  }
  .header-nav .toggler-icon_close div {
    width: 25px;
    height: 2px;
  }
  .header-nav .nav-bar {
    top: 37px;
    padding: 5px 0;
  }
  .header-nav .nav-bar li {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header-nav .nav-bar .nav-item .nav-link {
    font-size: 20px;
  }
  .header-nav .nav-bar .nav-item .nav-link::after {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  .header-nav .nav-bar .nav-item__languages .languages {
    margin-right: 40px;
  }
  .header-nav .nav-bar .nav-item__languages .languages a {
    font-size: 20px;
  }
  .header-nav .nav-bar .nav-item__languages .languages a::after {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  .header-nav .nav-bar .nav-item__languages .enter-to-cab span {
    font-size: 20px;
  }
  .header-nav .nav-bar .nav-item__languages .enter-to-cab img {
    width: 22px;
  }
}

@media only screen and (max-width: 576px) {
  .header-nav .toggler-icon {
    right: 20px;
    -webkit-transform: translateY(23%);
    transform: translateY(23%);
  }
  .header-nav .nav-bar {
    top: 32px;
    padding: 5px 0;
  }
  .header-nav .nav-bar li {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .header-nav .nav-bar .nav-item .nav-link {
    font-size: 18px;
  }
  .header-nav .nav-bar .nav-item .nav-link::after {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  .header-nav .nav-bar .nav-item__languages .languages {
    margin-right: 40px;
  }
  .header-nav .nav-bar .nav-item__languages .languages a {
    font-size: 18px;
  }
  .header-nav .nav-bar .nav-item__languages .languages a::after {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  .header-nav .nav-bar .nav-item__languages .enter-to-cab span {
    font-size: 18px;
  }
  .header-nav .nav-bar .nav-item__languages .enter-to-cab img {
    width: 20px;
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Akrobat, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 1.2;
  overflow-x: hidden;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    max-width: 100%;
  }
}

.row {
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.header {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 23px;
  background: #101111;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
}

.header .row {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-logo {
  width: 220px;
}

.header-logo img {
  width: 100%;
}

@media only screen and (max-width: 1199px) {
  .header {
    padding-top: 18px;
    padding-bottom: 20px;
  }
  .header-logo {
    width: 175px;
  }
}

@media only screen and (max-width: 991px) {
  .header {
    padding-top: 10px;
    padding-bottom: 15px;
  }
  .header-logo {
    margin-left: 30px;
    width: 150px;
  }
}

@media only screen and (max-width: 767px) {
  .header {
    padding-top: 10px;
    padding-bottom: 12px;
  }
  .header-logo {
    width: 110px;
  }
}

@media only screen and (max-width: 576px) {
  .header-logo {
    margin-left: 20px;
    width: 90px;
  }
}

section {
  width: 100%;
  position: relative;
}

section .section-triangle {
  position: absolute;
  bottom: -1px;
  width: 0;
  height: 0;
}

section .section-triangle_left {
  left: 0;
  border-top: 110px solid transparent;
  border-left: 50vw solid #fff;
  border-bottom: 0px solid transparent;
}

section .section-triangle_right {
  right: 0;
  border-top: 110px solid transparent;
  border-right: 50vw solid #fff;
  border-bottom: 0px solid transparent;
}

@media only screen and (max-width: 1199px) {
  section .section-triangle_left {
    border-top: 80px solid transparent;
  }
  section .section-triangle_right {
    border-top: 80px solid transparent;
  }
}

@media only screen and (max-width: 991px) {
  section .section-triangle_left {
    border-top: 65px solid transparent;
  }
  section .section-triangle_right {
    border-top: 65px solid transparent;
  }
}

@media only screen and (max-width: 767px) {
  section .section-triangle_left {
    border-top: 50px solid transparent;
  }
  section .section-triangle_right {
    border-top: 50px solid transparent;
  }
}

@media only screen and (max-width: 576px) {
  section .section-triangle_left {
    border-top: 30px solid transparent;
  }
  section .section-triangle_right {
    border-top: 30px solid transparent;
  }
}

.banner {
  margin-top: 20px;
  padding-top: 160px;
  padding-bottom: 210px;
  background: url(../img/banner__bg.jpg) no-repeat center/cover;
  background-attachment: fixed;
}

.banner .row {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.banner-ttl {
  padding-left: 0;
  color: #fff;
}

.banner-ttl h1 {
  font-size: 94px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 15px;
}

.banner-ttl h2 {
  font-size: 68px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 40px;
}

.banner-ttl p {
  font-size: 31px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 20px;
}

.banner-form {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.banner-form .banner-number {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.banner-form .banner-number img {
  width: 50px;
}

.banner-form .banner-number span {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
  color: #f3d11c;
}

.banner-form .form__call-me {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 35px 15px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin-top: 25px;
}

.banner-form .form__call-me span {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  line-height: 1;
}

.banner-form .form__call-me input {
  min-width: 315px;
  margin-top: 25px;
  margin-bottom: 30px;
  text-align: center;
  padding: 22px;
  font-family: Akrobat;
  font-size: 24px;
  font-weight: 400;
  color: #1e1e1e;
  border: none;
  outline-color: #f3d11c;
  border-radius: 7px;
}

.banner-form .form__call-me input::-webkit-input-placeholder {
  color: #1e1e1e;
}

.banner-form .form__call-me input:-ms-input-placeholder {
  color: #1e1e1e;
}

.banner-form .form__call-me input::-ms-input-placeholder {
  color: #1e1e1e;
}

.banner-form .form__call-me input::placeholder {
  color: #1e1e1e;
}

.banner-form .form__call-me button {
  font-family: Akrobat;
  font-size: 24px;
  color: #1e1e1e;
  text-transform: uppercase;
  text-align: center;
  padding: 24px 30px;
  min-width: 315px;
  border: none;
  border-radius: 7px;
  background: #f3d11c;
  outline: none;
  cursor: pointer;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.banner-form .form__call-me button:hover {
  background: #dfbe0c;
}

.banner__go-down {
  width: 24px;
  position: absolute;
  bottom: 75px;
  left: 50%;
  z-index: 20;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.banner__go-down img {
  width: 100%;
}

@media only screen and (max-width: 1199px) {
  .banner {
    margin-top: 15px;
    padding-top: 130px;
    padding-bottom: 170px;
  }
  .banner-ttl h1 {
    font-size: 68px;
    margin-bottom: 15px;
  }
  .banner-ttl h2 {
    font-size: 50px;
    margin-bottom: 40px;
  }
  .banner-ttl p {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .banner-form .banner-number img {
    width: 40px;
  }
  .banner-form .banner-number span {
    margin-left: 20px;
    font-size: 26px;
  }
  .banner-form .form__call-me {
    padding: 35px 15px;
    margin-top: 25px;
  }
  .banner-form .form__call-me span {
    font-size: 24px;
  }
  .banner-form .form__call-me input {
    min-width: 315px;
    margin-top: 25px;
    margin-bottom: 30px;
    padding: 22px;
  }
  .banner-form .form__call-me button {
    font-size: 24px;
    padding: 24px 30px;
    min-width: 315px;
  }
  .banner__go-down {
    width: 22px;
    bottom: 70px;
  }
}

@media only screen and (max-width: 991px) {
  .banner {
    background-attachment: scroll;
    margin-top: 10px;
    padding-top: 110px;
    padding-bottom: 95px;
  }
  .banner-ttl {
    text-align: center;
  }
  .banner-ttl h1 {
    font-size: 60px;
    margin-bottom: 10px;
  }
  .banner-ttl h2 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .banner-ttl p {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .banner-form {
    margin-top: 40px;
  }
  .banner-form .banner-number img {
    width: 30px;
  }
  .banner-form .banner-number span {
    margin-left: 15px;
    font-size: 22px;
  }
  .banner-form .form__call-me {
    padding: 15px 10px;
    margin-top: 25px;
  }
  .banner-form .form__call-me span {
    font-size: 20px;
  }
  .banner-form .form__call-me input {
    min-width: 55%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 20px;
  }
  .banner-form .form__call-me button {
    font-size: 20px;
    padding: 10px;
    min-width: 55%;
  }
  .banner__go-down {
    width: 18px;
    bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .banner {
    margin-top: 10px;
    padding-top: 85px;
    padding-bottom: 75px;
  }
  .banner-ttl h1 {
    font-size: 50px;
    margin-bottom: 10px;
  }
  .banner-ttl h2 {
    font-size: 32px;
    margin-bottom: 25px;
  }
  .banner-ttl p {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .banner-form {
    margin-top: 30px;
  }
  .banner-form .banner-number img {
    width: 25px;
  }
  .banner-form .banner-number span {
    margin-left: 15px;
    font-size: 20px;
  }
  .banner-form .form__call-me {
    padding: 10px;
    margin-top: 20px;
  }
  .banner-form .form__call-me span {
    font-size: 18px;
  }
  .banner-form .form__call-me input {
    min-width: 75%;
    margin-top: 18px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 20px;
  }
  .banner-form .form__call-me button {
    font-size: 18px;
    padding: 10px;
    min-width: 75%;
  }
  .banner__go-down {
    width: 18px;
    bottom: 20px;
  }
}

@media only screen and (max-width: 576px) {
  .banner {
    margin-top: 10px;
    padding-top: 85px;
    padding-bottom: 75px;
  }
  .banner-ttl h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .banner-ttl h2 {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .banner-ttl p {
    font-size: 17px;
    margin-bottom: 10px;
  }
  .banner-form {
    margin-top: 25px;
  }
  .banner-form .banner-number img {
    width: 20px;
  }
  .banner-form .banner-number span {
    margin-left: 10px;
    font-size: 18px;
  }
  .banner-form .form__call-me {
    padding: 10px;
    margin-top: 20px;
  }
  .banner-form .form__call-me span {
    font-size: 16px;
  }
  .banner-form .form__call-me input {
    min-width: 75%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
  }
  .banner-form .form__call-me button {
    font-size: 16px;
    padding: 10px;
    min-width: 75%;
  }
  .banner__go-down {
    width: 16px;
    bottom: 10px;
  }
}

.section-ttl {
  font-size: 65px;
  font-weight: 900;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.section-ttl_grey {
  color: #c8c8c8;
  text-align: left;
}

.bg-text-block {
  position: absolute;
  width: 220%;
}

.bg-text-block h2 {
  font-size: 286px;
  font-weight: 900;
  color: #fafafa;
  text-transform: uppercase;
  text-align: center;
}

@media only screen and (max-width: 1199px) {
  .section-ttl {
    font-size: 60px;
  }
  .bg-text-block h2 {
    font-size: 250px;
  }
}

@media only screen and (max-width: 991px) {
  .section-ttl {
    font-size: 50px;
  }
  .bg-text-block h2 {
    font-size: 150px;
  }
}

@media only screen and (max-width: 767px) {
  .section-ttl {
    font-size: 40px;
  }
  .bg-text-block h2 {
    font-size: 100px;
  }
}

@media only screen and (max-width: 576px) {
  .section-ttl {
    font-size: 30px;
  }
  .bg-text-block h2 {
    font-size: 75px;
  }
}

.about-us {
  overflow-x: hidden;
  padding-top: 160px;
  padding-bottom: 100px;
}

.about-us .bg-text-block {
  top: 10px;
  left: -575px;
}

.about-us .row {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about-us__info p {
  font-size: 18px;
  font-weight: 400;
  color: #1e1e1e;
  margin: 0;
  margin-top: 35px;
}

.about-us__info p:first-child {
  margin-top: 45px;
}

.about-us__img {
  padding-right: 0;
}

.about-us__img img {
  width: 100%;
}

@media only screen and (max-width: 1199px) {
  .about-us {
    padding-top: 130px;
    padding-bottom: 90px;
  }
  .about-us .bg-text-block {
    top: 10px;
    left: -475px;
  }
  .about-us__info p {
    font-size: 16px;
    margin-top: 20px;
  }
  .about-us__info p:first-child {
    margin-top: 35px;
  }
}

@media only screen and (max-width: 991px) {
  .about-us {
    padding-top: 130px;
    padding-bottom: 90px;
  }
  .about-us .bg-text-block {
    top: 10px;
    left: -390px;
  }
  .about-us__info {
    padding-left: 20px;
  }
  .about-us__info p {
    font-size: 16px;
    margin-top: 20px;
  }
  .about-us__info p:first-child {
    margin-top: 35px;
  }
  .about-us__img {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .about-us {
    padding-top: 90px;
    padding-bottom: 70px;
  }
  .about-us .bg-text-block {
    top: 10px;
    left: -415px;
  }
  .about-us__info {
    padding-left: 5px;
  }
  .about-us__info p {
    font-size: 14px;
    margin-top: 15px;
  }
  .about-us__info p:first-child {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 576px) {
  .about-us {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .about-us .bg-text-block {
    top: 10px;
    left: -300px;
  }
}

.how-it {
  padding-top: 70px;
  padding-bottom: 90px;
  background: #f8f8f8;
}

.how-it__discr {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
