@font-face {
  font-family: Akrobat;
  src: url(../fonts/Akrobat/Akrobat-Black.otf);
  font-weight: 900;
}

@font-face {
  font-family: Akrobat;
  src: url(../fonts/Akrobat/Akrobat-ExtraBold.otf);
  font-weight: 800;
}

@font-face {
  font-family: Akrobat;
  src: url(../fonts/Akrobat/Akrobat-Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: Akrobat;
  src: url(../fonts/Akrobat/Akrobat-SemiBold.otf);
  font-weight: 600;
}

@font-face {
  font-family: Akrobat;
  src: url(../fonts/Akrobat/Akrobat-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: Akrobat;
  src: url(../fonts/Akrobat/Akrobat-Light.otf);
  font-weight: 300;
}

@font-face {
  font-family: Akrobat;
  src: url(../fonts/Akrobat/Akrobat-ExtraLight.otf);
  font-weight: 200;
}

@font-face {
  font-family: Akrobat;
  src: url(../fonts/Akrobat/Akrobat-Thin.otf);
  font-weight: 100;
}

.header-nav .toggler-icon {
  display: none;
}

.header-nav .nav-bar {
  margin: 0;
  padding: 0;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header-nav .nav-bar .nav-item {
  position: relative;
  margin-right: 55px;
}

.header-nav .nav-bar .nav-item .nav-link {
  padding: 0;
  font-size: 24px;
  font-weight: 400;
  color: #fffefe;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

.header-nav .nav-bar .nav-item .nav-link::after {
  margin: 0 auto;
  -webkit-transform: translateY(7px);
  transform: translateY(7px);
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #f3d11c;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

.header-nav .nav-bar .nav-item .nav-link:hover {
  color: #f3d11c;
}

.header-nav .nav-bar .nav-item .nav-link:hover::after {
  width: 100%;
}

.header-nav .nav-bar .nav-item .nav-link.active::after {
  width: 100%;
}

.header-nav .nav-bar .nav-item__languages {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-nav .nav-bar .nav-item__languages .languages {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 60px;
}

.header-nav .nav-bar .nav-item__languages .languages a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  color: #fffefe;
  margin: 0 5px;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

.header-nav .nav-bar .nav-item__languages .languages a::after {
  margin: 0 auto;
  -webkit-transform: translateY(7px);
  transform: translateY(7px);
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #f3d11c;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

.header-nav .nav-bar .nav-item__languages .languages a:hover {
  color: #f3d11c;
}

.header-nav .nav-bar .nav-item__languages .languages a:hover::after {
  width: 100%;
}

.header-nav .nav-bar .nav-item__languages .languages a.active::after {
  width: 100%;
}

.header-nav .nav-bar .nav-item__languages .enter-to-cab {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.header-nav .nav-bar .nav-item__languages .enter-to-cab span {
  font-size: 24px;
  font-weight: 400;
  margin-right: 4px;
  color: #fffefe;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

.header-nav .nav-bar .nav-item__languages .enter-to-cab img {
  width: 30px;
}

.header-nav .nav-bar .nav-item__languages .enter-to-cab:hover span {
  color: #f3d11c;
}

@media only screen and (max-width: 1199px) {
  .header-nav .nav-bar .nav-item {
    position: relative;
    margin-right: 40px;
  }
  .header-nav .nav-bar .nav-item .nav-link {
    font-size: 22px;
  }
  .header-nav .nav-bar .nav-item .nav-link::after {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  .header-nav .nav-bar .nav-item__languages .languages {
    margin-right: 40px;
  }
  .header-nav .nav-bar .nav-item__languages .languages a {
    font-size: 22px;
    font-weight: 400;
  }
  .header-nav .nav-bar .nav-item__languages .languages a::after {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  .header-nav .nav-bar .nav-item__languages .enter-to-cab span {
    font-size: 22px;
  }
  .header-nav .nav-bar .nav-item__languages .enter-to-cab img {
    width: 28px;
  }
}

@media only screen and (max-width: 991px) {
  .nav-container {
    width: 100%;
    padding: 0;
  }
  .nav-container .row {
    margin: 0;
    position: relative;
  }
  .nav-container .row * {
    z-index: 3;
  }
  .header-nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .header-nav .toggler-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    cursor: pointer;
    -webkit-transition: all, 0.5s;
    transition: all, 0.5s;
    position: absolute;
    right: 30px;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    transition: all, 0.5s;
  }
  .header-nav .toggler-icon div {
    width: 30px;
    height: 3px;
    background: #fffefe;
    border-radius: 3px;
    margin-top: 5px;
    -webkit-transition: all, 0.95s;
    transition: all, 0.95s;
  }
  .header-nav .toggler-icon div:first-child {
    margin-top: 0;
  }
  .header-nav .toggler-icon_close div {
    width: 30px;
    height: 3px;
    background: #fffefe;
    margin-top: 5px;
  }
  .header-nav .toggler-icon_close div:first-child {
    margin-top: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .header-nav .toggler-icon_close div:nth-child(2) {
    margin-top: -2px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .header-nav .toggler-icon_close div:last-child {
    display: none;
  }
  .header-nav .nav-bar {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 310;
    background: #101111;
    padding: 10px 0;
  }
  .header-nav .nav-bar li {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-left: 0;
    padding-top: 20px;
    margin-bottom: 0;
    border-top: none;
    padding-bottom: 20px;
    -webkit-transition: all, .3s;
    transition: all, .3s;
  }
  .header-nav .nav-bar li:hover {
    background: #292b2b;
  }
  .header-nav .nav-bar .nav-item {
    margin-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .header-nav .toggler-icon {
    right: 30px;
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
  }
  .header-nav .toggler-icon div {
    width: 25px;
    height: 2px;
  }
  .header-nav .toggler-icon_close div {
    width: 25px;
    height: 2px;
  }
  .header-nav .nav-bar {
    top: 37px;
    padding: 5px 0;
  }
  .header-nav .nav-bar li {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header-nav .nav-bar .nav-item .nav-link {
    font-size: 20px;
  }
  .header-nav .nav-bar .nav-item .nav-link::after {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  .header-nav .nav-bar .nav-item__languages .languages {
    margin-right: 40px;
  }
  .header-nav .nav-bar .nav-item__languages .languages a {
    font-size: 20px;
  }
  .header-nav .nav-bar .nav-item__languages .languages a::after {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  .header-nav .nav-bar .nav-item__languages .enter-to-cab span {
    font-size: 20px;
  }
  .header-nav .nav-bar .nav-item__languages .enter-to-cab img {
    width: 22px;
  }
}

@media only screen and (max-width: 576px) {
  .header-nav .toggler-icon {
    right: 20px;
    -webkit-transform: translateY(23%);
    transform: translateY(23%);
  }
  .header-nav .nav-bar {
    top: 32px;
    padding: 5px 0;
  }
  .header-nav .nav-bar li {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .header-nav .nav-bar .nav-item .nav-link {
    font-size: 18px;
  }
  .header-nav .nav-bar .nav-item .nav-link::after {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  .header-nav .nav-bar .nav-item__languages .languages {
    margin-right: 40px;
  }
  .header-nav .nav-bar .nav-item__languages .languages a {
    font-size: 18px;
  }
  .header-nav .nav-bar .nav-item__languages .languages a::after {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  .header-nav .nav-bar .nav-item__languages .enter-to-cab span {
    font-size: 18px;
  }
  .header-nav .nav-bar .nav-item__languages .enter-to-cab img {
    width: 20px;
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Akrobat, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 1.2;
  overflow-x: hidden;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    max-width: 100%;
  }
}

.row {
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.header {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 23px;
  background: #101111;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
}

.header .row {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-logo {
  width: 220px;
}

.header-logo img {
  width: 100%;
}

@media only screen and (max-width: 1199px) {
  .header {
    padding-top: 18px;
    padding-bottom: 20px;
  }
  .header-logo {
    width: 175px;
  }
}

@media only screen and (max-width: 991px) {
  .header {
    padding-top: 10px;
    padding-bottom: 15px;
  }
  .header-logo {
    margin-left: 30px;
    width: 150px;
  }
}

@media only screen and (max-width: 767px) {
  .header {
    padding-top: 10px;
    padding-bottom: 12px;
  }
  .header-logo {
    width: 110px;
  }
}

@media only screen and (max-width: 576px) {
  .header-logo {
    margin-left: 20px;
    width: 90px;
  }
}

section {
  width: 100%;
  position: relative;
}

section .section-triangle {
  position: absolute;
  bottom: -1px;
  width: 0;
  height: 0;
}

section .section-triangle_left {
  left: 0;
  border-top: 110px solid transparent;
  border-left: 50vw solid #fff;
  border-bottom: 0px solid transparent;
}

section .section-triangle_right {
  right: 0;
  border-top: 110px solid transparent;
  border-right: 50vw solid #fff;
  border-bottom: 0px solid transparent;
}

@media only screen and (max-width: 1199px) {
  section .section-triangle_left {
    border-top: 80px solid transparent;
  }
  section .section-triangle_right {
    border-top: 80px solid transparent;
  }
}

@media only screen and (max-width: 991px) {
  section .section-triangle_left {
    border-top: 65px solid transparent;
  }
  section .section-triangle_right {
    border-top: 65px solid transparent;
  }
}

@media only screen and (max-width: 767px) {
  section .section-triangle_left {
    border-top: 50px solid transparent;
  }
  section .section-triangle_right {
    border-top: 50px solid transparent;
  }
}

@media only screen and (max-width: 576px) {
  section .section-triangle_left {
    border-top: 30px solid transparent;
  }
  section .section-triangle_right {
    border-top: 30px solid transparent;
  }
}

.banner {
  margin-top: 20px;
  padding-top: 160px;
  padding-bottom: 210px;
  background: url(../img/taksi-na-utro.jpg) no-repeat center/cover;
  background-attachment: fixed;
}

.banner:before {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
}

.banner .row {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.banner-ttl {
  padding-left: 0;
  color: #fff;
}

.banner-ttl h1 {
  font-size: 94px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 15px;
}

.banner-ttl h2 {
  font-size: 68px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 40px;
}

.banner-ttl p {
  font-size: 31px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 20px;
}

.banner-form {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.banner-form .banner-number {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.banner-form .banner-number img {
  width: 50px;
}

.banner-form .banner-number span {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
  color: #f3d11c;
}

.banner-form .form__call-me {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 35px 15px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin-top: 25px;
}

.banner-form .form__call-me span {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  line-height: 1;
}

.banner-form .form__call-me .visitus__input {
  margin-top: 25px;
  margin-bottom: 30px;
}

.banner__go-down {
  width: 24px;
  position: absolute;
  bottom: 75px;
  left: 50%;
  z-index: 20;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.banner__go-down img {
  width: 100%;
}

@media only screen and (max-width: 1199px) {
  .banner {
    margin-top: 15px;
    padding-top: 130px;
    padding-bottom: 170px;
  }
  .banner-ttl h1 {
    font-size: 68px;
    margin-bottom: 15px;
  }
  .banner-ttl h2 {
    font-size: 50px;
    margin-bottom: 40px;
  }
  .banner-ttl p {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .banner-form .banner-number img {
    width: 40px;
  }
  .banner-form .banner-number span {
    margin-left: 20px;
    font-size: 26px;
  }
  .banner-form .form__call-me {
    padding: 35px 15px;
    margin-top: 25px;
  }
  .banner-form .form__call-me span {
    font-size: 24px;
  }
  .banner-form .form__call-me .visitus__input {
    margin-top: 25px;
    margin-bottom: 30px;
  }
  .banner__go-down {
    width: 22px;
    bottom: 70px;
  }
}

@media only screen and (max-width: 991px) {
  .banner {
    background-attachment: scroll;
    margin-top: 10px;
    padding-top: 110px;
    padding-bottom: 95px;
  }
  .banner-ttl {
    text-align: center;
  }
  .banner-ttl h1 {
    font-size: 60px;
    margin-bottom: 10px;
  }
  .banner-ttl h2 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .banner-ttl p {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .banner-form {
    margin-top: 40px;
  }
  .banner-form .banner-number img {
    width: 30px;
  }
  .banner-form .banner-number span {
    margin-left: 15px;
    font-size: 22px;
  }
  .banner-form .form__call-me {
    padding: 15px 10px;
    margin-top: 25px;
  }
  .banner-form .form__call-me span {
    font-size: 20px;
  }
  .banner-form .form__call-me .visitus__input {
    min-width: 55%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
  }
  .banner-form .form__call-me .visitus__btn {
    padding: 10px;
    min-width: 55%;
  }
  .banner__go-down {
    width: 18px;
    bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .banner {
    margin-top: 10px;
    padding-top: 85px;
    padding-bottom: 75px;
  }
  .banner-ttl h1 {
    font-size: 50px;
    margin-bottom: 10px;
  }
  .banner-ttl h2 {
    font-size: 32px;
    margin-bottom: 25px;
  }
  .banner-ttl p {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .banner-form {
    margin-top: 30px;
  }
  .banner-form .banner-number img {
    width: 25px;
  }
  .banner-form .banner-number span {
    margin-left: 15px;
    font-size: 20px;
  }
  .banner-form .form__call-me {
    padding: 10px;
    margin-top: 20px;
  }
  .banner-form .form__call-me span {
    font-size: 18px;
  }
  .banner-form .form__call-me .visitus__input {
    min-width: 75%;
    margin-top: 18px;
    margin-bottom: 20px;
    padding: 10px;
  }
  .banner-form .form__call-me .visitus__btn {
    padding: 10px;
    min-width: 75%;
  }
  .banner__go-down {
    width: 18px;
    bottom: 20px;
  }
}

@media only screen and (max-width: 576px) {
  .banner {
    margin-top: 10px;
    padding-top: 85px;
    padding-bottom: 75px;
  }
  .banner-ttl h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .banner-ttl h2 {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .banner-ttl p {
    font-size: 17px;
    margin-bottom: 10px;
  }
  .banner-form {
    margin-top: 25px;
  }
  .banner-form .banner-number img {
    width: 20px;
  }
  .banner-form .banner-number span {
    margin-left: 10px;
    font-size: 18px;
  }
  .banner-form .form__call-me {
    padding: 10px;
    margin-top: 20px;
  }
  .banner-form .form__call-me span {
    font-size: 16px;
  }
  .banner-form .form__call-me .visitus__input {
    min-width: 75%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
  }
  .banner-form .form__call-me .visitus__btn {
    padding: 10px;
    min-width: 75%;
  }
  .banner__go-down {
    width: 16px;
    bottom: 10px;
  }
}

.section-ttl {
  font-size: 65px;
  font-weight: 900;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.section-ttl_grey {
  color: #c8c8c8;
  text-align: left;
}

.bg-text-block {
  position: absolute;
  width: 220%;
}

.bg-text-block h2 {
  font-size: 286px;
  font-weight: 900;
  color: #fafafa;
  text-transform: uppercase;
  text-align: center;
}

.visitus__input {
  min-width: 315px;
  text-align: center;
  padding: 22px;
  font-family: Akrobat;
  font-size: 24px;
  font-weight: 400;
  color: #1e1e1e;
  text-transform: uppercase;
  border: none;
  outline: none;
  border-radius: 7px;
}

.visitus__input::-webkit-input-placeholder {
  color: #1e1e1e;
}

.visitus__input:-ms-input-placeholder {
  color: #1e1e1e;
}

.visitus__input::-ms-input-placeholder {
  color: #1e1e1e;
}

.visitus__input::placeholder {
  color: #1e1e1e;
}

.visitus__btn {
  font-family: Akrobat;
  font-size: 24px;
  color: #1e1e1e;
  text-transform: uppercase;
  text-align: center;
  padding: 24px 30px;
  min-width: 315px;
  border: none;
  border-radius: 7px;
  background: #f3d11c;
  outline: none;
  cursor: pointer;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.visitus__btn:hover {
  background: #dfbe0c;
}

@media only screen and (max-width: 1199px) {
  .section-ttl {
    font-size: 60px;
  }
  .bg-text-block h2 {
    font-size: 250px;
  }
  .visitus__input {
    font-size: 24px;
    padding: 22px;
    min-width: 315px;
  }
  .visitus__btn {
    font-size: 24px;
    padding: 24px 30px;
    min-width: 315px;
  }
}

@media only screen and (max-width: 991px) {
  .section-ttl {
    font-size: 50px;
  }
  .bg-text-block h2 {
    font-size: 150px;
  }
  .visitus__input {
    font-size: 20px;
    padding: 15px;
    min-width: 300px;
  }
  .visitus__btn {
    font-size: 20px;
    padding: 15px;
    min-width: 300px;
  }
}

@media only screen and (max-width: 767px) {
  .section-ttl {
    font-size: 40px;
  }
  .bg-text-block h2 {
    font-size: 100px;
  }
  .visitus__input {
    font-size: 18px;
    padding: 12px;
    min-width: 250px;
  }
  .visitus__btn {
    font-size: 18px;
    padding: 12px;
    min-width: 250px;
  }
}

@media only screen and (max-width: 576px) {
  .section-ttl {
    font-size: 30px;
  }
  .bg-text-block h2 {
    font-size: 75px;
  }
  .visitus__input {
    font-size: 16px;
    padding: 10px 15px;
    min-width: 250px;
  }
  .visitus__btn {
    font-size: 16px;
    padding: 10px 15px;
    min-width: 250px;
  }
}

.about-us {
  overflow-x: hidden;
  padding-top: 160px;
  padding-bottom: 100px;
}

.about-us .bg-text-block {
  top: 10px;
  left: -575px;
}

.about-us .row {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about-us__info p {
  font-size: 18px;
  font-weight: 400;
  color: #1e1e1e;
  margin: 0;
  margin-top: 35px;
}

.about-us__info p:first-child {
  margin-top: 45px;
}

.about-us__img {
  padding-right: 0;
}

.about-us__img img {
  width: 100%;
}

@media only screen and (max-width: 1199px) {
  .about-us {
    padding-top: 130px;
    padding-bottom: 90px;
  }
  .about-us .bg-text-block {
    top: 10px;
    left: -475px;
  }
  .about-us__info p {
    font-size: 16px;
    margin-top: 20px;
  }
  .about-us__info p:first-child {
    margin-top: 35px;
  }
}

@media only screen and (max-width: 991px) {
  .about-us {
    padding-top: 130px;
    padding-bottom: 90px;
  }
  .about-us .bg-text-block {
    top: 10px;
    left: -390px;
  }
  .about-us__info {
    padding-left: 20px;
  }
  .about-us__info p {
    font-size: 16px;
    margin-top: 20px;
  }
  .about-us__info p:first-child {
    margin-top: 35px;
  }
  .about-us__img {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .about-us {
    padding-top: 90px;
    padding-bottom: 70px;
  }
  .about-us .bg-text-block {
    top: 10px;
    left: -415px;
  }
  .about-us__info {
    padding-left: 5px;
  }
  .about-us__info p {
    font-size: 14px;
    margin-top: 15px;
  }
  .about-us__info p:first-child {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 576px) {
  .about-us {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .about-us .bg-text-block {
    top: 10px;
    left: -300px;
  }
  .about-us__info {
    padding-left: 15px;
  }
}

.how-it {
  padding-top: 70px;
  padding-bottom: 90px;
  background: #f8f8f8;
}

.how-it__discr {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 35px;
}

.how-it__discr p {
  font-size: 30px;
  font-weight: 700;
  color: #1e1e1e;
  text-align: center;
  margin: 0;
}

.how-it__block-ttl {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 75px;
}

.how-it__block-ttl h4 {
  font-size: 30px;
  font-weight: 700;
  color: #1e1e1e;
  text-transform: uppercase;
  text-align: center;
}

.how-it__scheme {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.how-it__scheme-item {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-top: 60px;
}

.how-it__scheme-item div {
  padding: 0 15px;
  background: #f8f8f8;
  z-index: 3;
}

.how-it__scheme-item h6 {
  margin: 0;
  margin-top: 30px;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #1e1e1e;
  text-align: center;
}

.how-it__scheme-item:before {
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background: #f3d11c;
  position: absolute;
  bottom: 105px;
  left: 0;
  z-index: 1;
}

.how-it__scheme-item_large h6 {
  margin-top: 5px;
  -webkit-transform: translateY(25px);
  transform: translateY(25px);
}

@media only screen and (max-width: 1199px) {
  .how-it {
    padding-top: 70px;
    padding-bottom: 80px;
  }
  .how-it__discr {
    margin-top: 35px;
  }
  .how-it__discr p {
    font-size: 28px;
  }
  .how-it__block-ttl {
    margin-top: 70px;
  }
  .how-it__block-ttl h4 {
    font-size: 28px;
  }
  .how-it__scheme-item {
    margin-top: 50px;
  }
  .how-it__scheme-item div {
    padding: 0 15px;
  }
  .how-it__scheme-item h6 {
    margin-top: 20px;
    font-size: 18px;
  }
  .how-it__scheme-item:before {
    bottom: 80px;
  }
  .how-it__scheme-item_large h6 {
    margin-top: 3px;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

@media only screen and (max-width: 991px) {
  .how-it {
    padding-top: 60px;
    padding-bottom: 70px;
  }
  .how-it__discr {
    margin-top: 30px;
    padding: 0 20px;
  }
  .how-it__discr p {
    font-size: 26px;
  }
  .how-it__block-ttl {
    margin-top: 50px;
    margin-bottom: -15px;
  }
  .how-it__block-ttl h4 {
    font-size: 26px;
  }
  .how-it__scheme-item {
    margin-top: 60px;
  }
  .how-it__scheme-item div {
    padding: 0 15px;
  }
  .how-it__scheme-item h6 {
    margin-top: 20px;
    font-size: 20px;
  }
  .how-it__scheme-item:before {
    bottom: 85px;
  }
  .how-it__scheme-item_large h6 {
    margin-top: 0px;
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
  }
}

@media only screen and (max-width: 767px) {
  .how-it {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .how-it__discr {
    margin-top: 25px;
    padding: 0 20px;
  }
  .how-it__discr p {
    font-size: 22px;
  }
  .how-it__block-ttl {
    margin-top: 60px;
    margin-bottom: -15px;
  }
  .how-it__block-ttl h4 {
    font-size: 24px;
  }
  .how-it__scheme-item {
    margin-top: 60px;
  }
  .how-it__scheme-item div {
    padding: 0 15px;
  }
  .how-it__scheme-item h6 {
    margin-top: 20px;
    font-size: 18px;
  }
  .how-it__scheme-item:before {
    bottom: 80px;
  }
  .how-it__scheme-item_large h6 {
    margin-top: 2px;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

@media only screen and (max-width: 576px) {
  .how-it {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .how-it__discr {
    margin-top: 25px;
    padding: 0 20px;
  }
  .how-it__discr p {
    font-size: 18px;
  }
  .how-it__block-ttl {
    margin-top: 60px;
    margin-bottom: -15px;
  }
  .how-it__block-ttl h4 {
    font-size: 20px;
  }
  .how-it__scheme-item {
    margin-top: 30px;
  }
  .how-it__scheme-item div {
    padding: 0 15px;
  }
  .how-it__scheme-item h6 {
    margin-top: 20px;
    font-size: 18px;
  }
  .how-it__scheme-item:before {
    bottom: 80px;
  }
  .how-it__scheme-item_large {
    margin-bottom: 20px;
  }
  .how-it__scheme-item_large h6 {
    margin-top: 2px;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

.presentation {
  padding-top: 60px;
  padding-bottom: 75px;
  background: url(../img/taksi-na-utro.jpg) no-repeat center/cover;
  background-attachment: fixed;
  position: relative;
}

.presentation:before {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
}

.presentation .row {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.presentation h5 {
  font-size: 30px;
  font-weight: 400;
  color: #fefefe;
  margin: 0;
  text-align: center;
}

.presentation form {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.presentation .visitus__input {
  margin-right: 65px;
}

@media only screen and (max-width: 1199px) {
  .presentation {
    padding-top: 60px;
    padding-bottom: 75px;
  }
  .presentation .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .presentation h5 {
    font-size: 30px;
  }
  .presentation form {
    margin-top: 30px;
  }
  .presentation .visitus__input {
    margin-right: 30px;
  }
}

@media only screen and (max-width: 991px) {
  .presentation {
    padding-top: 50px;
    padding-bottom: 65px;
    background-attachment: scroll;
  }
  .presentation h5 {
    font-size: 26px;
  }
  .presentation form {
    margin-top: 25px;
  }
  .presentation .visitus__input {
    margin-right: 25px;
  }
}

@media only screen and (max-width: 767px) {
  .presentation {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .presentation h5 {
    font-size: 24px;
  }
  .presentation form {
    margin-top: 25px;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .presentation .visitus__input {
    margin-right: 0;
  }
}

@media only screen and (max-width: 576px) {
  .presentation {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .presentation h5 {
    font-size: 24px;
  }
  .presentation form {
    margin-top: 25px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .presentation .visitus__input {
    margin-bottom: 20px;
  }
}

.benefits {
  padding-top: 70px;
  padding-bottom: 100px;
  background: #f3d11c;
}

.benefits .cotainer {
  overflow-x: hidden !important;
}

.benefits__block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 20px;
}

.benefits__block-item {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 30px 50px;
}

.benefits__block-item h6 {
  font-size: 30px;
  font-weight: 700;
  color: #1e1e1e;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 20px;
}

@media only screen and (max-width: 1199px) {
  .benefits {
    padding-top: 70px;
    padding-bottom: 90px;
  }
  .benefits__block-item {
    margin: 25px 20px;
  }
  .benefits__block-item h6 {
    font-size: 30px;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 991px) {
  .benefits {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  .benefits__block-item {
    margin: 25px 20px;
  }
  .benefits__block-item img {
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
  }
  .benefits__block-item h6 {
    font-size: 24px;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .benefits {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .benefits__block-item {
    margin: 25px 15px;
  }
  .benefits__block-item img {
    -webkit-transform: scale(0.65);
    transform: scale(0.65);
  }
  .benefits__block-item h6 {
    font-size: 16px;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 576px) {
  .benefits {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .benefits__block-item {
    margin: 20px 10px;
  }
  .benefits__block-item img {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  .benefits__block-item h6 {
    font-size: 16px;
    margin-top: 10px;
  }
}

.cooperation {
  padding-top: 166px;
  padding-bottom: 95px;
  overflow-x: hidden !important;
}

.cooperation .bg-text-block {
  left: -750px;
  top: 30px;
}

.cooperation__block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.cooperation__block p {
  margin: 0;
  margin-top: 50px;
  margin-bottom: 75px;
  font-size: 24px;
  font-weight: 700;
  color: #1e1e1e;
}

.cooperation__block form {
  width: 100%;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.cooperation__block .visitus__input {
  min-width: 250px;
  border: 1px solid #1e1e1e;
}

.cooperation__block .visitus__btn {
  min-width: 280px;
}

.cooperation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cooperation-modal__block {
  padding: 40px 50px 30px 50px;
  background: #fff;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #1e1e1e;
  border-radius: 10px;
  position: relative;
}

.cooperation-modal__block h6 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
}

.cooperation-modal__block span {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 35px;
}

.cooperation-modal__block img {
  width: 190px;
}

.cooperation-modal__block .coop-modal_close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 15px;
  cursor: pointer;
}

.cooperation-modal.active {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 1199px) {
  .cooperation {
    padding-top: 130px;
    padding-bottom: 90px;
  }
  .cooperation .bg-text-block {
    left: -600px;
    top: 30px;
  }
  .cooperation__block p {
    margin-top: 40px;
    margin-bottom: 60px;
    font-size: 24px;
  }
  .cooperation__block form {
    width: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .cooperation__block .visitus__input {
    min-width: 250px;
    border: 1px solid #1e1e1e;
  }
  .cooperation__block .visitus__btn {
    min-width: 280px;
    margin-top: 25px;
  }
}

@media only screen and (max-width: 991px) {
  .cooperation {
    padding-top: 100px;
    padding-bottom: 75px;
  }
  .cooperation .bg-text-block {
    left: -475px;
    top: 0px;
  }
  .cooperation__block p {
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 22px;
  }
  .cooperation__block form {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .cooperation__block .visitus__input {
    min-width: 250px;
    margin: 20px;
  }
  .cooperation__block .visitus__btn {
    min-width: 250px;
    margin: 0px 20px;
  }
}

@media only screen and (max-width: 767px) {
  .cooperation {
    padding-top: 90px;
    padding-bottom: 60px;
  }
  .cooperation .bg-text-block {
    left: -300px;
    top: 0px;
  }
  .cooperation__block p {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 22px;
  }
  .cooperation__block .visitus__input {
    min-width: 250px;
    margin: 20px 10px;
  }
  .cooperation__block .visitus__btn {
    min-width: 250px;
    margin: 0px 10px;
  }
  .cooperation-modal__block {
    padding: 30px 40px 20px 40px;
    border-radius: 7px;
  }
  .cooperation-modal__block h6 {
    font-size: 20px;
  }
  .cooperation-modal__block span {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .cooperation-modal__block img {
    width: 150px;
  }
  .cooperation-modal__block .coop-modal_close {
    top: 10px;
    right: 10px;
    width: 15px;
  }
}

@media only screen and (max-width: 576px) {
  .cooperation {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .cooperation .bg-text-block {
    left: -300px;
    top: 0px;
  }
  .cooperation__block {
    padding-left: 15px;
  }
  .cooperation__block p {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 18px;
  }
  .cooperation__block .visitus__input {
    min-width: 230px;
    margin: 20px 10px;
  }
  .cooperation__block .visitus__btn {
    min-width: 230px;
    margin: 0px 10px;
  }
  .cooperation-modal__block {
    padding: 20px 25px 15px 25px;
    border-radius: 7px;
    max-width: 95%;
  }
  .cooperation-modal__block h6 {
    font-size: 18px;
  }
  .cooperation-modal__block span {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .cooperation-modal__block img {
    width: 120px;
  }
  .cooperation-modal__block .coop-modal_close {
    top: 10px;
    right: 10px;
    width: 15px;
  }
}

@media only screen and (max-width: 535px) {
  .cooperation .bg-text-block {
    left: -250px;
    top: 0px;
  }
  .cooperation__block .visitus__btn {
    margin: 15px 10px;
  }
}

.trasted {
  padding: 60px 0;
  background: #f8f8f8;
}

.trasted-slider {
  width: 100%;
  margin-top: 50px;
  outline: none;
  padding: 0 15px;
}

.trasted-slider__slide {
  height: 120px;
  width: 290px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  outline: none;
}

.trasted-slider__slide a {
  width: 90%;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  outline: none;
}

.trasted-slider__slide a img {
  max-width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.trasted-slider__slide a:hover img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.trasted-slider__block {
  position: relative;
}

.trasted-slider__block .trasted-slider__arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.trasted-slider__block .trasted-slider__arrow_prev {
  left: 0;
}

.trasted-slider__block .trasted-slider__arrow_next {
  right: 0;
}

.trasted-slider__block .trasted-slider__arrow img {
  cursor: pointer;
}

@media only screen and (max-width: 1199px) {
  .trasted {
    padding: 55px 0;
  }
  .trasted-slider {
    margin-top: 40px;
    padding: 0 15px;
  }
  .trasted-slider__slide {
    height: 120px;
    width: 290px;
  }
}

@media only screen and (max-width: 991px) {
  .trasted {
    padding: 50px 0;
  }
  .trasted-slider {
    margin-top: 30px;
    padding: 0 15px;
  }
  .trasted-slider__slide {
    height: 120px;
    width: 280px;
  }
}

@media only screen and (max-width: 767px) {
  .trasted {
    padding: 50px 0;
  }
  .trasted-slider {
    margin-top: 10px;
    padding: 0 15px;
  }
  .trasted-slider__slide {
    height: 120px;
    width: 260px;
  }
}

@media only screen and (max-width: 576px) {
  .trasted {
    padding: 50px 0;
  }
  .trasted-slider {
    margin-top: 10px;
    padding: 0 15px;
  }
  .trasted-slider__slide {
    height: 100px;
    width: 250px;
  }
  .trasted-slider__block .trasted-slider__arrow_prev {
    left: 10px;
  }
  .trasted-slider__block .trasted-slider__arrow_next {
    right: 10px;
  }
}

.contacts {
  padding-top: 70px;
}

.contacts__block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 50px;
}

.contacts__block div {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contacts__block div span {
  font-size: 30px;
  font-weight: 400;
  color: #1e1e1e;
  margin-left: 25px;
}

.contacts__block div:first-child {
  margin-right: 75px;
}

.contacts__map {
  margin-top: 45px;
  width: 100%;
  background: url(../img/visitus__map.jpg) no-repeat center/cover;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.contacts__map ul {
  padding-left: 70px;
  padding-top: 70px;
  padding-right: calc((100vw - 1170px) / 2);
  padding-bottom: 80px;
  background: rgba(255, 255, 255, 0.85);
  font-size: 30px;
  font-weight: 700;
  color: #1e1e1e;
  list-style: none;
  margin: 0;
}

.contacts__map ul li {
  font-size: 24px;
  font-weight: 400;
  margin-top: 15px;
}

.contacts__map ul li:first-child {
  margin-top: 35px;
}

@media only screen and (max-width: 1199px) {
  .contacts {
    padding-top: 60px;
  }
  .contacts__block {
    margin-top: 50px;
  }
  .contacts__block div span {
    font-size: 28px;
    margin-left: 20px;
  }
  .contacts__block div:first-child {
    margin-right: 50px;
  }
  .contacts__map {
    margin-top: 45px;
  }
  .contacts__map ul {
    padding-left: 50px;
    padding-top: 30px;
    padding-right: calc((100vw - 960px) / 2);
    padding-bottom: 40px;
    font-size: 28px;
  }
  .contacts__map ul li {
    font-size: 22px;
    margin-top: 10px;
  }
  .contacts__map ul li:first-child {
    margin-top: 25px;
  }
}

@media only screen and (max-width: 991px) {
  .contacts {
    padding-top: 50px;
  }
  .contacts__block {
    margin-top: 50px;
  }
  .contacts__block div img {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  .contacts__block div span {
    font-size: 26px;
    margin-left: 20px;
  }
  .contacts__block div:first-child {
    margin-right: 40px;
  }
  .contacts__map {
    margin-top: 45px;
  }
  .contacts__map ul {
    padding-left: 30px;
    padding-top: 20px;
    padding-right: calc((100vw - 720px) / 2);
    padding-bottom: 30px;
    font-size: 24px;
  }
  .contacts__map ul li {
    font-size: 18px;
    margin-top: 5px;
  }
  .contacts__map ul li:first-child {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .contacts {
    padding-top: 50px;
  }
  .contacts__block {
    margin-top: 40px;
  }
  .contacts__block div img {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  .contacts__block div span {
    font-size: 24px;
    margin-left: 15px;
  }
  .contacts__block div:first-child {
    margin-right: 30px;
  }
  .contacts__map {
    margin-top: 45px;
  }
  .contacts__map ul {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: calc((100vw - 540px) / 2);
    padding-bottom: 20px;
    font-size: 22px;
  }
  .contacts__map ul li {
    font-size: 16px;
    margin-top: 5px;
  }
  .contacts__map ul li:first-child {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 576px) {
  .contacts {
    padding-top: 50px;
  }
  .contacts__block {
    margin-top: 10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .contacts__block div {
    margin-top: 20px;
  }
  .contacts__block div img {
    -webkit-transform: scale(0.55);
    transform: scale(0.55);
  }
  .contacts__block div span {
    font-size: 22px;
    margin-left: 10px;
  }
  .contacts__block div:first-child {
    margin-right: 20px;
  }
  .contacts__map {
    margin-top: 35px;
  }
  .contacts__map ul {
    padding: 20px;
    font-size: 20px;
  }
  .contacts__map ul li {
    font-size: 14px;
    margin-top: 5px;
  }
  .contacts__map ul li:first-child {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 409px) {
  .contacts__block div:first-child {
    margin-right: 0px;
  }
}

.footer {
  padding: 24px 0;
  background: #101111;
}

.footer-block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-block__logo {
  width: 225px;
}

.footer-block__logo img {
  width: 100%;
}

.footer-block__nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-block__nav ul li {
  margin: 0 15px;
}

.footer-block__nav ul li a {
  font-size: 18px;
  font-weight: 400;
  color: #fffefe;
  text-decoration: none;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

.footer-block__nav ul li a::after {
  margin: 0 auto;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #f3d11c;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

.footer-block__nav ul li a:hover {
  color: #f3d11c;
}

.footer-block__nav ul li a:hover::after {
  width: 100%;
}

.footer-block__copyright {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

@media only screen and (max-width: 1199px) {
  .footer {
    padding: 20px 0;
  }
  .footer-block__logo {
    width: 180px;
  }
  .footer-block__nav ul li {
    margin: 0 15px;
  }
  .footer-block__nav ul li a {
    font-size: 18px;
  }
  .footer-block__copyright {
    font-size: 18px;
  }
}

@media only screen and (max-width: 991px) {
  .footer {
    padding: 20px 0;
  }
  .footer-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-block__logo {
    width: 140px;
  }
  .footer-block__nav {
    margin: 20px 0;
  }
  .footer-block__nav ul li {
    margin: 0 15px;
  }
  .footer-block__nav ul li a {
    font-size: 18px;
  }
  .footer-block__copyright {
    font-size: 18px;
  }
}

@media only screen and (max-width: 767px) {
  .footer {
    padding: 15px 0;
  }
  .footer-block__logo {
    width: 100px;
  }
  .footer-block__nav {
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .footer-block__nav ul li {
    margin: 0 10px;
  }
  .footer-block__nav ul li a {
    font-size: 16px;
  }
  .footer-block__copyright {
    font-size: 14px;
  }
}

@media only screen and (max-width: 576px) {
  .footer {
    padding: 15px 0;
  }
  .footer-block__logo {
    width: 75px;
  }
  .footer-block__nav {
    margin: 15px 0;
  }
  .footer-block__nav ul {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .footer-block__nav ul li {
    margin: 10px;
  }
  .footer-block__nav ul li a {
    font-size: 14px;
  }
  .footer-block__copyright {
    font-size: 12px;
  }
}

@media only screen and (max-width: 350px) {
  .footer-block__nav ul li {
    margin: 10px 25px;
  }
}
