// to compile...

$yellow: #f3d11c;
$black: #1e1e1e;

@import "./_components/_akrobat.scss";
@import "./_components/_nav-bar.scss";

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  //border: 1px solid red;
}

body {
  font-family: Akrobat, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.2;
  overflow-x: hidden;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    max-width: 100%;
  }
}

.row {
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Header
.header {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 23px;
  background: #101111;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;

  .row {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  &-logo {
    width: 220px;

    img {
      width: 100%;
    }
  }
}

@media only screen and (max-width : 1199px) {
  .header {
    padding-top: 18px;
    padding-bottom: 20px;

    &-logo {
      width: 175px;
    }
  }
}

@media only screen and (max-width : 991px) {
  .header {
    padding-top: 10px;
    padding-bottom: 15px;

    &-logo {
      margin-left: 30px;
      width: 150px;
    }
  }
}

@media only screen and (max-width : 767px) {
  .header {
    padding-top: 10px;
    padding-bottom: 12px;

    &-logo {
      width: 110px;
    }
  }
}

@media only screen and (max-width : 576px) {
  .header {
    &-logo {
      margin-left: 20px;
      width: 90px;
    }
  }
}

// Section triangles
section {
  width: 100%;
  position: relative;

  .section-triangle {
    position: absolute;
    bottom: -1px;
    width: 0;
    height: 0;

    &_left {
      left: 0;
      border-top: 110px solid transparent;
      border-left: 50vw solid #fff;
      border-bottom: 0px solid transparent;
    }

    &_right {
      right: 0;
      border-top: 110px solid transparent;
      border-right: 50vw solid #fff;
      border-bottom: 0px solid transparent;
    }
  }
}

@media only screen and (max-width : 1199px) {
  section {
    .section-triangle {
      &_left {
        border-top: 80px solid transparent;
      }

      &_right {
        border-top: 80px solid transparent;
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  section {
    .section-triangle {
      &_left {
        border-top: 65px solid transparent;
      }

      &_right {
        border-top: 65px solid transparent;
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  section {
    .section-triangle {
      &_left {
        border-top: 50px solid transparent;
      }

      &_right {
        border-top: 50px solid transparent;
      }
    }
  }
}

@media only screen and (max-width : 576px) {
  section {
    .section-triangle {
      &_left {
        border-top: 30px solid transparent;
      }

      &_right {
        border-top: 30px solid transparent;
      }
    }
  }
}

// Section Banner
.banner {
  margin-top: 20px;
  padding-top: 160px;
  padding-bottom: 210px;
  background: url(../img/taksi-na-utro.jpg) no-repeat center / cover;
  background-attachment: fixed;

  &:before {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
  }

  .row {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  &-ttl {
    padding-left: 0;
    color: #fff;

    h1 {
      font-size: 94px;
      font-weight: 900;
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 15px;
    }

    h2 {
      font-size: 68px;
      font-weight: 400;
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 40px;
    }

    p {
      font-size: 31px;
      font-weight: 400;
      margin: 0;
      margin-bottom: 20px;
    }
  }

  &-form {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    .banner-number {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;

      img {
        width: 50px;
      }

      span {
        margin-left: 20px;
        font-size: 30px;
        font-weight: 600;
        color: $yellow;
      }
    }

    .form__call-me {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
      padding: 35px 15px;
      background: rgba(255, 255, 255, 0.8);
      border-radius: 10px;
      margin-top: 25px;

      span {
        font-size: 24px;
        font-weight: 400;
        text-align: center;
        line-height: 1;
      }

      .visitus__input {
        margin-top: 25px;
        margin-bottom: 30px;
      }
    }
  }

  &__go-down {
    width: 24px;
    position: absolute;
    bottom: 75px;
    left: 50%;
    z-index: 20;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);

    img {
      width: 100%;
    }
  }
}

@media only screen and (max-width : 1199px) {
  .banner {
    margin-top: 15px;
    padding-top: 130px;
    padding-bottom: 170px;

    &-ttl {
      h1 {
        font-size: 68px;
        margin-bottom: 15px;
      }

      h2 {
        font-size: 50px;
        margin-bottom: 40px;
      }

      p {
        font-size: 26px;
        margin-bottom: 20px;
      }
    }

    &-form {
      .banner-number {
        img {
          width: 40px;
        }

        span {
          margin-left: 20px;
          font-size: 26px;
        }
      }

      .form__call-me {
        padding: 35px 15px;
        margin-top: 25px;

        span {
          font-size: 24px;
        }

        .visitus__input {
          margin-top: 25px;
          margin-bottom: 30px;
        }
      }
    }

    &__go-down {
      width: 22px;
      bottom: 70px;
    }
  }
}

@media only screen and (max-width : 991px) {
  .banner {
    background-attachment: scroll;
    margin-top: 10px;
    padding-top: 110px;
    padding-bottom: 95px;

    &-ttl {
      text-align: center;

      h1 {
        font-size: 60px;
        margin-bottom: 10px;
      }

      h2 {
        font-size: 40px;
        margin-bottom: 30px;
      }

      p {
        font-size: 22px;
        margin-bottom: 20px;
      }
    }

    &-form {
      margin-top: 40px;

      .banner-number {
        img {
          width: 30px;
        }

        span {
          margin-left: 15px;
          font-size: 22px;
        }
      }

      .form__call-me {
        padding: 15px 10px;
        margin-top: 25px;

        span {
          font-size: 20px;
        }

        .visitus__input {
          min-width: 55%;
          margin-top: 20px;
          margin-bottom: 20px;
          padding: 10px;
        }

        .visitus__btn {
          padding: 10px;
          min-width: 55%;
        }
      }
    }

    &__go-down {
      width: 18px;
      bottom: 30px;
    }
  }
}

@media only screen and (max-width : 767px) {
  .banner {
    margin-top: 10px;
    padding-top: 85px;
    padding-bottom: 75px;

    &-ttl {
      h1 {
        font-size: 50px;
        margin-bottom: 10px;
      }

      h2 {
        font-size: 32px;
        margin-bottom: 25px;
      }

      p {
        font-size: 20px;
        margin-bottom: 20px;
      }
    }

    &-form {
      margin-top: 30px;

      .banner-number {
        img {
          width: 25px;
        }

        span {
          margin-left: 15px;
          font-size: 20px;
        }
      }

      .form__call-me {
        padding: 10px;
        margin-top: 20px;

        span {
          font-size: 18px;
        }

        .visitus__input {
          min-width: 75%;
          margin-top: 18px;
          margin-bottom: 20px;
          padding: 10px;
        }

        .visitus__btn {
          padding: 10px;
          min-width: 75%;
        }
      }
    }

    &__go-down {
      width: 18px;
      bottom: 20px;
    }
  }
}

@media only screen and (max-width : 576px) {
  .banner {
    margin-top: 10px;
    padding-top: 85px;
    padding-bottom: 75px;

    &-ttl {
      h1 {
        font-size: 32px;
        margin-bottom: 10px;
      }

      h2 {
        font-size: 24px;
        margin-bottom: 25px;
      }

      p {
        font-size: 17px;
        margin-bottom: 10px;
      }
    }

    &-form {
      margin-top: 25px;

      .banner-number {
        img {
          width: 20px;
        }

        span {
          margin-left: 10px;
          font-size: 18px;
        }
      }

      .form__call-me {
        padding: 10px;
        margin-top: 20px;

        span {
          font-size: 16px;
        }

        .visitus__input {
          min-width: 75%;
          margin-top: 15px;
          margin-bottom: 15px;
          padding: 10px;
        }

        .visitus__btn {
          padding: 10px;
          min-width: 75%;
        }
      }
    }

    &__go-down {
      width: 16px;
      bottom: 10px;
    }
  }
}

// Section Headings. Text Blocks. Forms

.section-ttl {
  font-size: 65px;
  font-weight: 900;
  margin: 0;
  text-align: center;
  text-transform: uppercase;

  &_grey {
    color: #c8c8c8;
    text-align: left;
  }
}

.bg-text-block {
  position: absolute;
  width: 220%;

  h2 {
    font-size: 286px;
    font-weight: 900;
    color: #fafafa;
    text-transform: uppercase;
    text-align: center;
  }
}

.visitus__input {
  min-width: 315px;
  text-align: center;
  padding: 22px;
  font-family: Akrobat;
  font-size: 24px;
  font-weight: 400;
  color: $black;
  text-transform: uppercase;
  border: none;
  outline: none;
  border-radius: 7px;

  &::-webkit-input-placeholder {
    color: $black;
  }

  &:-ms-input-placeholder {
    color: $black;
  }

  &::-ms-input-placeholder {
    color: $black;
  }

  &::placeholder {
    color: $black;
  }
}

.visitus__btn {
  font-family: Akrobat;
  font-size: 24px;
  color: $black;
  text-transform: uppercase;
  text-align: center;
  padding: 24px 30px;
  min-width: 315px;
  border: none;
  border-radius: 7px;
  background: $yellow;
  outline: none;
  cursor: pointer;
  -webkit-transition: all, .5s;
  transition: all, .5s;

  &:hover {
    background: darken($yellow, 7%);
  }
}

@media only screen and (max-width : 1199px) {
  .section-ttl {
    font-size: 60px;
  }

  .bg-text-block {
    h2 {
      font-size: 250px;
    }
  }

  .visitus__input {
    font-size: 24px;
    padding: 22px;
    min-width: 315px;
  }

  .visitus__btn {
    font-size: 24px;
    padding: 24px 30px;
    min-width: 315px;
  }
}

@media only screen and (max-width : 991px) {
  .section-ttl {
    font-size: 50px;
  }

  .bg-text-block {
    h2 {
      font-size: 150px;
    }
  }

  .visitus__input {
    font-size: 20px;
    padding: 15px;
    min-width: 300px;
  }

  .visitus__btn {
    font-size: 20px;
    padding: 15px;
    min-width: 300px;
  }
}

@media only screen and (max-width : 767px) {
  .section-ttl {
    font-size: 40px;
  }

  .bg-text-block {
    h2 {
      font-size: 100px;
    }
  }

  .visitus__input {
    font-size: 18px;
    padding: 12px;
    min-width: 250px;
  }

  .visitus__btn {
    font-size: 18px;
    padding: 12px;
    min-width: 250px;
  }
}

@media only screen and (max-width : 576px) {
  .section-ttl {
    font-size: 30px;
  }

  .bg-text-block {
    h2 {
      font-size: 75px;
    }
  }

  .visitus__input {
    font-size: 16px;
    padding: 10px 15px;
    min-width: 250px;
  }

  .visitus__btn {
    font-size: 16px;
    padding: 10px 15px;
    min-width: 250px;
  }
}

// Section About Us
.about-us {
  overflow-x: hidden;
  padding-top: 160px;
  padding-bottom: 100px;

  .bg-text-block {
    top: 10px;
    left: -575px;
  }

  .row {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  &__info {
    p {
      font-size: 18px;
      font-weight: 400;
      color: $black;
      margin: 0;
      margin-top: 35px;

      &:first-child {
        margin-top: 45px;
      }
    }
  }

  &__img {
    padding-right: 0;

    img {
      width: 100%;
    }
  }
}

@media only screen and (max-width : 1199px) {
  .about-us {
    padding-top: 130px;
    padding-bottom: 90px;

    .bg-text-block {
      top: 10px;
      left: -475px;
    }

    &__info {
      p {
        font-size: 16px;
        margin-top: 20px;

        &:first-child {
          margin-top: 35px;
        }
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  .about-us {
    padding-top: 130px;
    padding-bottom: 90px;

    .bg-text-block {
      top: 10px;
      left: -390px;
    }

    &__info {
      padding-left: 20px;

      p {
        font-size: 16px;
        margin-top: 20px;

        &:first-child {
          margin-top: 35px;
        }
      }
    }

    &__img {
      display: none;
    }
  }
}

@media only screen and (max-width : 767px) {
  .about-us {
    padding-top: 90px;
    padding-bottom: 70px;

    .bg-text-block {
      top: 10px;
      left: -415px;
    }

    &__info {
      padding-left: 5px;

      p {
        font-size: 14px;
        margin-top: 15px;

        &:first-child {
          margin-top: 30px;
        }
      }
    }
  }
}

@media only screen and (max-width : 576px) {
  .about-us {
    padding-top: 70px;
    padding-bottom: 50px;

    .bg-text-block {
      top: 10px;
      left: -300px;
    }

    &__info {
      padding-left: 15px;
    }
  }
}

// Section How It Works
.how-it {
  padding-top: 70px;
  padding-bottom: 90px;
  background: #f8f8f8;

  &__discr {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 35px;

    p {
      font-size: 30px;
      font-weight: 700;
      color: $black;
      text-align: center;
      margin: 0;
    }
  }

  &__block-ttl {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 75px;

    h4 {
      font-size: 30px;
      font-weight: 700;
      color: $black;
      text-transform: uppercase;
      text-align: center;
    }
  }

  &__scheme {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;

    &-item {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: relative;
      margin-top: 60px;

      div {
        padding: 0 15px;
        background: #f8f8f8;
        z-index: 3;
      }

      h6 {
        margin: 0;
        margin-top: 30px;
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
        color: $black;
        text-align: center;
      }

      &:before {
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        background: $yellow;
        position: absolute;
        bottom: 105px;
        left: 0;
        z-index: 1;
      }

      &_large {
        h6 {
          margin-top: 5px;
          -webkit-transform: translateY(25px);
                  transform: translateY(25px);
        }
      }
    }
  }
}

@media only screen and (max-width : 1199px) {
  .how-it {
    padding-top: 70px;
    padding-bottom: 80px;

    &__discr {
      margin-top: 35px;

      p {
        font-size: 28px;
      }
    }

    &__block-ttl {
      margin-top: 70px;

      h4 {
        font-size: 28px;
      }
    }

    &__scheme {
      &-item {
        margin-top: 50px;

        div {
          padding: 0 15px;
        }

        h6 {
          margin-top: 20px;
          font-size: 18px;
        }

        &:before {
          bottom: 80px;
        }

        &_large {
          h6 {
            margin-top: 3px;
            -webkit-transform: translateY(20px);
                    transform: translateY(20px);
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  .how-it {
    padding-top: 60px;
    padding-bottom: 70px;

    &__discr {
      margin-top: 30px;
      padding: 0 20px;

      p {
        font-size: 26px;
      }
    }

    &__block-ttl {
      margin-top: 50px;
      margin-bottom: -15px;

      h4 {
        font-size: 26px;
      }
    }

    &__scheme {
      &-item {
        margin-top: 60px;

        div {
          padding: 0 15px;
        }

        h6 {
          margin-top: 20px;
          font-size: 20px;
        }

        &:before {
          bottom: 85px;
        }

        &_large {
          h6 {
            margin-top: 0px;
            -webkit-transform: translateY(25px);
                    transform: translateY(25px);
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  .how-it {
    padding-top: 50px;
    padding-bottom: 70px;

    &__discr {
      margin-top: 25px;
      padding: 0 20px;

      p {
        font-size: 22px;
      }
    }

    &__block-ttl {
      margin-top: 60px;
      margin-bottom: -15px;

      h4 {
        font-size: 24px;
      }
    }

    &__scheme {
      &-item {
        margin-top: 60px;

        div {
          padding: 0 15px;
        }

        h6 {
          margin-top: 20px;
          font-size: 18px;
        }

        &:before {
          bottom: 80px;
        }

        &_large {
          h6 {
            margin-top: 2px;
            -webkit-transform: translateY(20px);
                    transform: translateY(20px);
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 576px) {
  .how-it {
    padding-top: 50px;
    padding-bottom: 60px;

    &__discr {
      margin-top: 25px;
      padding: 0 20px;

      p {
        font-size: 18px;
      }
    }

    &__block-ttl {
      margin-top: 60px;
      margin-bottom: -15px;

      h4 {
        font-size: 20px;
      }
    }

    &__scheme {
      &-item {
        margin-top: 30px;

        div {
          padding: 0 15px;
        }

        h6 {
          margin-top: 20px;
          font-size: 18px;
        }

        &:before {
          bottom: 80px;
        }

        &_large {
          margin-bottom: 20px;
          h6 {
            margin-top: 2px;
            -webkit-transform: translateY(20px);
                    transform: translateY(20px);
          }
        }
      }
    }
  }
}

// Section Presentation
.presentation {
  padding-top: 60px;
  padding-bottom: 75px;
  background: url(../img/taksi-na-utro.jpg) no-repeat center / cover;
  background-attachment: fixed;
  position: relative;

  &:before {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
  }

  .row {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  h5 {
    font-size: 30px;
    font-weight: 400;
    color: #fefefe;
    margin: 0;
    text-align: center;
  }

  form {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .visitus__input {
    margin-right: 65px;
  }
}

@media only screen and (max-width : 1199px) {
  .presentation {
    padding-top: 60px;
    padding-bottom: 75px;

    .row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }

    h5 {
      font-size: 30px;
    }

    form {
      margin-top: 30px;
    }

    .visitus__input {
      margin-right: 30px;
    }
  }
}

@media only screen and (max-width : 991px) {
  .presentation {
    padding-top: 50px;
    padding-bottom: 65px;
    background-attachment: scroll;

    h5 {
      font-size: 26px;
    }

    form {
      margin-top: 25px;
    }

    .visitus__input {
      margin-right: 25px;
    }
  }
}

@media only screen and (max-width : 767px) {
  .presentation {
    padding-top: 50px;
    padding-bottom: 60px;

    h5 {
      font-size: 24px;
    }

    form {
      margin-top: 25px;
      width: 100%;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }

    .visitus__input {
      margin-right: 0;
    }
  }
}

@media only screen and (max-width : 576px) {
  .presentation {
    padding-top: 50px;
    padding-bottom: 50px;

    h5 {
      font-size: 24px;
    }

    form {
      margin-top: 25px;
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }

    .visitus__input {
      margin-bottom: 20px;
    }
  }
}

// Section Benefits
.benefits {
  padding-top: 70px;
  padding-bottom: 100px;
  background: $yellow;

  .cotainer {
    overflow-x: hidden !important;
  }

  &__block {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 20px;

    &-item {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 30px 50px;

      h6 {
        font-size: 30px;
        font-weight: 700;
        color: $black;
        text-transform: uppercase;
        text-align: center;
        margin: 0;
        margin-top: 20px;
      }
    }
  }
}

@media only screen and (max-width : 1199px) {
  .benefits {
    padding-top: 70px;
    padding-bottom: 90px;

    &__block {
      &-item {
        margin: 25px 20px;

        h6 {
          font-size: 30px;
          margin-top: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  .benefits {
    padding-top: 60px;
    padding-bottom: 80px;

    &__block {
      &-item {
        margin: 25px 20px;

        img {
          -webkit-transform: scale(0.85);
                  transform: scale(0.85);
        }

        h6 {
          font-size: 24px;
          margin-top: 15px;
        }
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  .benefits {
    padding-top: 50px;
    padding-bottom: 50px;

    &__block {
      &-item {
        margin: 25px 15px;

        img {
          -webkit-transform: scale(0.65);
                  transform: scale(0.65);
        }

        h6 {
          font-size: 16px;
          margin-top: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width : 576px) {
  .benefits {
    padding-top: 50px;
    padding-bottom: 60px;

    &__block {
      &-item {
        margin: 20px 10px;

        img {
          -webkit-transform: scale(0.5);
                  transform: scale(0.5);
        }

        h6 {
          font-size: 16px;
          margin-top: 10px;
        }
      }
    }
  }
}

//Section Cooperation
.cooperation {
  padding-top: 166px;
  padding-bottom: 95px;
  overflow-x: hidden !important;

  .bg-text-block {
    left: -750px;
    top: 30px;
  }

  &__block {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;

    p {
      margin: 0;
      margin-top: 50px;
      margin-bottom: 75px;
      font-size: 24px;
      font-weight: 700;
      color: $black;
    }

    form {
      width: 100%;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }

    .visitus__input {
      min-width: 250px;
      border: 1px solid $black;
    }

    .visitus__btn {
      min-width: 280px;
    }
  }
}

.cooperation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  &__block {
    padding: 40px 50px 30px 50px;
    background: #fff;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    color: $black;
    border-radius: 10px;
    position: relative;

    h6 {
      font-size: 24px;
      font-weight: 700;
      margin: 0;
      margin-bottom: 10px;
    }

    span {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 35px;
    }

    img {
      width: 190px;
    }

    .coop-modal_close {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 15px;
      cursor: pointer;
    }
  }

  &.active {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width : 1199px) {
  .cooperation {
    padding-top: 130px;
    padding-bottom: 90px;

    .bg-text-block {
      left: -600px;
      top: 30px;
    }

    &__block {
      p {
        margin-top: 40px;
        margin-bottom: 60px;
        font-size: 24px;
      }

      form {
        width: 100%;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
      }

      .visitus__input {
        min-width: 250px;
        border: 1px solid $black;
      }

      .visitus__btn {
        min-width: 280px;
        margin-top: 25px;
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  .cooperation {
    padding-top: 100px;
    padding-bottom: 75px;

    .bg-text-block {
      left: -475px;
      top: 0px;
    }

    &__block {
      p {
        margin-top: 30px;
        margin-bottom: 50px;
        font-size: 22px;
      }

      form {
        width: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
      }

      .visitus__input {
        min-width: 250px;
        margin: 20px;
      }

      .visitus__btn {
        min-width: 250px;
        margin: 0px 20px;
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  .cooperation {
    padding-top: 90px;
    padding-bottom: 60px;

    .bg-text-block {
      left: -300px;
      top: 0px;
    }

    &__block {
      p {
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 22px;
      }

      .visitus__input {
        min-width: 250px;
        margin: 20px 10px;
      }

      .visitus__btn {
        min-width: 250px;
        margin: 0px 10px;
      }
    }
  }

  .cooperation-modal {
    &__block {
      padding: 30px 40px 20px 40px;
      border-radius: 7px;

      h6 {
        font-size: 20px;
      }

      span {
        font-size: 20px;
        margin-bottom: 30px;
      }

      img {
        width: 150px;
      }

      .coop-modal_close {
        top: 10px;
        right: 10px;
        width: 15px;
      }
    }
  }
}

@media only screen and (max-width : 576px) {
  .cooperation {
    padding-top: 70px;
    padding-bottom: 50px;

    .bg-text-block {
      left: -300px;
      top: 0px;
    }

    &__block {
      padding-left: 15px;

      p {
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 18px;
      }

      .visitus__input {
        min-width: 230px;
        margin: 20px 10px;
      }

      .visitus__btn {
        min-width: 230px;
        margin: 0px 10px;
      }
    }
  }

  .cooperation-modal {
    &__block {
      padding: 20px 25px 15px 25px;
      border-radius: 7px;
      max-width: 95%;

      h6 {
        font-size: 18px;
      }

      span {
        font-size: 18px;
        margin-bottom: 30px;
      }

      img {
        width: 120px;
      }

      .coop-modal_close {
        top: 10px;
        right: 10px;
        width: 15px;
      }
    }
  }
}

@media only screen and (max-width : 535px) {
  .cooperation {
    .bg-text-block {
      left: -250px;
      top: 0px;
    }

    &__block {
      .visitus__btn {
        margin: 15px 10px;
      }
    }
  }
}

// Section Trasted
.trasted {
  padding: 60px 0;
  background: #f8f8f8;

  &-slider {
    width: 100%;
    margin-top: 50px;
    outline: none;
    padding: 0 15px;

    &__slide {
      height: 120px;
      width: 290px;
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      outline: none;

      a {
        width: 90%;
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        outline: none;

        img {
          max-width: 100%;
          -webkit-filter: grayscale(100%);
                  filter: grayscale(100%);
          -webkit-transition: all, .5s;
          transition: all, .5s;
        }

        &:hover {
          img {
            -webkit-filter: grayscale(0%);
                    filter: grayscale(0%);
          }
        }
      }
    }
  }

  &-slider__block {
    position: relative;

    .trasted-slider__arrow {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);

      &_prev {
        left: 0;
      }

      &_next {
        right: 0;
      }

      img {
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width : 1199px) {
  .trasted {
    padding: 55px 0;

    &-slider {
      margin-top: 40px;
      padding: 0 15px;

      &__slide {
        height: 120px;
        width: 290px;
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  .trasted {
    padding: 50px 0;

    &-slider {
      margin-top: 30px;
      padding: 0 15px;

      &__slide {
        height: 120px;
        width: 280px;
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  .trasted {
    padding: 50px 0;

    &-slider {
      margin-top: 10px;
      padding: 0 15px;

      &__slide {
        height: 120px;
        width: 260px;
      }
    }
  }
}

@media only screen and (max-width : 576px) {
  .trasted {
    padding: 50px 0;

    &-slider {
      margin-top: 10px;
      padding: 0 15px;

      &__slide {
        height: 100px;
        width: 250px;
      }
    }

    &-slider__block {
      .trasted-slider__arrow {
        &_prev {
          left: 10px;
        }

        &_next {
          right: 10px;
        }
      }
    }
  }
}

// Section Contacts
.contacts {
  padding-top: 70px;

  &__block {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;

    div {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;

      span {
        font-size: 30px;
        font-weight: 400;
        color: $black;
        margin-left: 25px;
      }

      &:first-child {
        margin-right: 75px;
      }
    }
  }

  &__map {
    margin-top: 45px;
    width: 100%;
    background: url(../img/visitus__map.jpg) no-repeat center / cover;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;

    ul {
      padding-right: 70px;
      padding-top: 70px;
      padding-left: calc((100vw - 1170px) / 2);
      padding-bottom: 80px;
      background: rgba(255, 255, 255, 0.85);
      font-size: 30px;
      font-weight: 700;
      color: $black;
      list-style: none;
      margin: 0;

      li {
        font-size: 24px;
        font-weight: 400;
        margin-top: 15px;

        &:first-child {
          margin-top: 35px;
        }
      }
    }
  }
}

@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 576px) {

}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 576px) {

}
