// to compile...

$yellow: #f3d11c;

@import "./_components/_akrobat.scss";
@import "./_components/_nav-bar.scss";

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  //border: 1px solid red;
}

body {
  font-family: Akrobat, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.2;
  overflow-x: hidden;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    max-width: 100%;
  }
}

.row {
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Header
.header {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 23px;
  background: #101111;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;

  .row {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  &-logo {
    width: 220px;

    img {
      width: 100%;
    }
  }
}

@media only screen and (max-width : 1199px) {
  .header {
    padding-top: 18px;
    padding-bottom: 20px;

    &-logo {
      width: 175px;
    }
  }
}

@media only screen and (max-width : 991px) {
  .header {
    padding-top: 10px;
    padding-bottom: 15px;

    &-logo {
      margin-left: 30px;
      width: 150px;
    }
  }
}

@media only screen and (max-width : 767px) {
  .header {
    padding-top: 10px;
    padding-bottom: 12px;

    &-logo {
      width: 110px;
    }
  }
}

@media only screen and (max-width : 576px) {
  .header {
    &-logo {
      margin-left: 20px;
      width: 90px;
    }
  }
}

// Section triangles
section {
  width: 100%;
  position: relative;

  .section-triangle {
    position: absolute;
    bottom: -1px;
    width: 0;
    height: 0;

    &_left {
      left: 0;
      border-top: 110px solid transparent;
      border-left: 50vw solid #fff;
      border-bottom: 0px solid transparent;
    }

    &_right {
      right: 0;
      border-top: 110px solid transparent;
      border-right: 50vw solid #fff;
      border-bottom: 0px solid transparent;
    }
  }
}

@media only screen and (max-width : 1199px) {
  section {
    .section-triangle {
      &_left {
        border-top: 80px solid transparent;
      }

      &_right {
        border-top: 80px solid transparent;
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  section {
    .section-triangle {
      &_left {
        border-top: 65px solid transparent;
      }

      &_right {
        border-top: 65px solid transparent;
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  section {
    .section-triangle {
      &_left {
        border-top: 50px solid transparent;
      }

      &_right {
        border-top: 50px solid transparent;
      }
    }
  }
}

@media only screen and (max-width : 576px) {
  section {
    .section-triangle {
      &_left {
        border-top: 30px solid transparent;
      }

      &_right {
        border-top: 30px solid transparent;
      }
    }
  }
}

// Section Banner

.banner {
  margin-top: 20px;
  padding-top: 160px;
  padding-bottom: 210px;
  background: url(../img/banner__bg.jpg) no-repeat center / cover;
  background-attachment: fixed;

  .row {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  &-ttl {
    padding-left: 0;
    color: #fff;

    h1 {
      font-size: 94px;
      font-weight: 900;
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 15px;
    }

    h2 {
      font-size: 68px;
      font-weight: 400;
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 40px;
    }

    p {
      font-size: 31px;
      font-weight: 400;
      margin: 0;
      margin-bottom: 20px;
    }
  }

  &-form {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    .banner-number {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;

      img {
        width: 50px;
      }

      span {
        margin-left: 20px;
        font-size: 30px;
        font-weight: 600;
        color: $yellow;
      }
    }

    .form__call-me {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
      padding: 35px 15px;
      background: rgba(255, 255, 255, 0.8);
      border-radius: 10px;
      margin-top: 25px;

      span {
        font-size: 24px;
        font-weight: 400;
        text-align: center;
        line-height: 1;
      }

      input {
        min-width: 315px;
        margin-top: 25px;
        margin-bottom: 30px;
        text-align: center;
        padding: 22px;
        font-family: Akrobat;
        font-size: 24px;
        font-weight: 400;
        color: #1e1e1e;
        border: none;
        outline-color: $yellow;
        border-radius: 7px;

        &::-webkit-input-placeholder {
          color: #1e1e1e;
        }

        &:-ms-input-placeholder {
          color: #1e1e1e;
        }

        &::-ms-input-placeholder {
          color: #1e1e1e;
        }

        &::placeholder {
          color: #1e1e1e;
        }
      }

      button {
        font-family: Akrobat;
        font-size: 24px;
        color: #1e1e1e;
        text-transform: uppercase;
        text-align: center;
        padding: 24px 30px;
        min-width: 315px;
        border: none;
        border-radius: 7px;
        background: $yellow;
        outline: none;
        cursor: pointer;
        -webkit-transition: all, .5s;
        transition: all, .5s;

        &:hover {
          background: darken($yellow, 7%);
        }
      }
    }
  }

  &__go-down {
    width: 24px;
    position: absolute;
    bottom: 75px;
    left: 50%;
    z-index: 20;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);

    img {
      width: 100%;
    }
  }
}

@media only screen and (max-width : 1199px) {
  .banner {
    margin-top: 15px;
    padding-top: 130px;
    padding-bottom: 170px;

    &-ttl {
      h1 {
        font-size: 68px;
        margin-bottom: 15px;
      }

      h2 {
        font-size: 50px;
        margin-bottom: 40px;
      }

      p {
        font-size: 26px;
        margin-bottom: 20px;
      }
    }

    &-form {
      .banner-number {
        img {
          width: 40px;
        }

        span {
          margin-left: 20px;
          font-size: 26px;
        }
      }

      .form__call-me {
        padding: 35px 15px;
        margin-top: 25px;

        span {
          font-size: 24px;
        }

        input {
          min-width: 315px;
          margin-top: 25px;
          margin-bottom: 30px;
          padding: 22px;
        }

        button {
          font-size: 24px;
          padding: 24px 30px;
          min-width: 315px;
        }
      }
    }

    &__go-down {
      width: 22px;
      bottom: 70px;
    }
  }
}

@media only screen and (max-width : 991px) {
  .banner {
    background-attachment: scroll;
    margin-top: 10px;
    padding-top: 110px;
    padding-bottom: 95px;

    &-ttl {
      text-align: center;

      h1 {
        font-size: 60px;
        margin-bottom: 10px;
      }

      h2 {
        font-size: 40px;
        margin-bottom: 30px;
      }

      p {
        font-size: 22px;
        margin-bottom: 20px;
      }
    }

    &-form {
      margin-top: 40px;

      .banner-number {
        img {
          width: 30px;
        }

        span {
          margin-left: 15px;
          font-size: 22px;
        }
      }

      .form__call-me {
        padding: 15px 10px;
        margin-top: 25px;

        span {
          font-size: 20px;
        }

        input {
          min-width: 55%;
          margin-top: 20px;
          margin-bottom: 20px;
          padding: 10px;
          font-size: 20px;
        }

        button {
          font-size: 20px;
          padding: 10px;
          min-width: 55%;
        }
      }
    }

    &__go-down {
      width: 18px;
      bottom: 30px;
    }
  }
}

@media only screen and (max-width : 767px) {
  .banner {
    margin-top: 10px;
    padding-top: 85px;
    padding-bottom: 75px;

    &-ttl {
      h1 {
        font-size: 50px;
        margin-bottom: 10px;
      }

      h2 {
        font-size: 32px;
        margin-bottom: 25px;
      }

      p {
        font-size: 20px;
        margin-bottom: 20px;
      }
    }

    &-form {
      margin-top: 30px;

      .banner-number {
        img {
          width: 25px;
        }

        span {
          margin-left: 15px;
          font-size: 20px;
        }
      }

      .form__call-me {
        padding: 10px;
        margin-top: 20px;

        span {
          font-size: 18px;
        }

        input {
          min-width: 75%;
          margin-top: 18px;
          margin-bottom: 20px;
          padding: 10px;
          font-size: 20px;
        }

        button {
          font-size: 18px;
          padding: 10px;
          min-width: 75%;
        }
      }
    }

    &__go-down {
      width: 18px;
      bottom: 20px;
    }
  }
}

@media only screen and (max-width : 576px) {
  .banner {
    margin-top: 10px;
    padding-top: 85px;
    padding-bottom: 75px;

    &-ttl {
      h1 {
        font-size: 32px;
        margin-bottom: 10px;
      }

      h2 {
        font-size: 24px;
        margin-bottom: 25px;
      }

      p {
        font-size: 17px;
        margin-bottom: 10px;
      }
    }

    &-form {
      margin-top: 25px;

      .banner-number {
        img {
          width: 20px;
        }

        span {
          margin-left: 10px;
          font-size: 18px;
        }
      }

      .form__call-me {
        padding: 10px;
        margin-top: 20px;

        span {
          font-size: 16px;
        }

        input {
          min-width: 75%;
          margin-top: 15px;
          margin-bottom: 15px;
          padding: 10px;
          font-size: 16px;
        }

        button {
          font-size: 16px;
          padding: 10px;
          min-width: 75%;
        }
      }
    }

    &__go-down {
      width: 16px;
      bottom: 10px;
    }
  }
}

// Section Headings

.section-ttl {
  font-size: 65px;
  font-weight: 900;
  margin: 0;
  text-align: center;
  text-transform: uppercase;

  &_grey {
    color: #c8c8c8;
    text-align: left;
  }
}

.bg-text-block {
  position: absolute;
  width: 220%;

  h2 {
    font-size: 286px;
    font-weight: 900;
    color: #fafafa;
    text-transform: uppercase;
    text-align: center;
  }
}

@media only screen and (max-width : 1199px) {
  .section-ttl {
    font-size: 60px;
  }

  .bg-text-block {
    h2 {
      font-size: 250px;
    }
  }
}

@media only screen and (max-width : 991px) {
  .section-ttl {
    font-size: 50px;
  }

  .bg-text-block {
    h2 {
      font-size: 150px;
    }
  }
}

@media only screen and (max-width : 767px) {
  .section-ttl {
    font-size: 40px;
  }

  .bg-text-block {
    h2 {
      font-size: 100px;
    }
  }
}

@media only screen and (max-width : 576px) {
  .section-ttl {
    font-size: 30px;
  }

  .bg-text-block {
    h2 {
      font-size: 75px;
    }
  }
}

// Section About Us
.about-us {
  overflow-x: hidden;
  padding-top: 160px;
  padding-bottom: 100px;

  .bg-text-block {
    top: 10px;
    left: -575px;
  }

  .row {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  &__info {
    p {
      font-size: 18px;
      font-weight: 400;
      color: #1e1e1e;
      margin: 0;
      margin-top: 35px;

      &:first-child {
        margin-top: 45px;
      }
    }
  }

  &__img {
    padding-right: 0;

    img {
      width: 100%;
    }
  }
}

@media only screen and (max-width : 1199px) {
  .about-us {
    padding-top: 130px;
    padding-bottom: 90px;

    .bg-text-block {
      top: 10px;
      left: -475px;
    }

    &__info {
      p {
        font-size: 16px;
        margin-top: 20px;

        &:first-child {
          margin-top: 35px;
        }
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  .about-us {
    padding-top: 130px;
    padding-bottom: 90px;

    .bg-text-block {
      top: 10px;
      left: -390px;
    }

    &__info {
      padding-left: 20px;

      p {
        font-size: 16px;
        margin-top: 20px;

        &:first-child {
          margin-top: 35px;
        }
      }
    }

    &__img {
      display: none;
    }
  }
}

@media only screen and (max-width : 767px) {
  .about-us {
    padding-top: 90px;
    padding-bottom: 70px;

    .bg-text-block {
      top: 10px;
      left: -415px;
    }

    &__info {
      padding-left: 5px;

      p {
        font-size: 14px;
        margin-top: 15px;

        &:first-child {
          margin-top: 30px;
        }
      }
    }
  }
}

@media only screen and (max-width : 576px) {
  .about-us {
    padding-top: 70px;
    padding-bottom: 50px;

    .bg-text-block {
      top: 10px;
      left: -300px;
    }
  }
}

// Section How It Works
.how-it {
  padding-top: 70px;
  padding-bottom: 90px;
  background: #f8f8f8;

  &__discr {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    p {
      
    }
  }
}

@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 576px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 576px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 576px) {

}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 576px) {

}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 576px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 576px) {

}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 576px) {

}
