.header-nav {
  .toggler-icon {
    display: none;
  }

  .nav-bar {
    margin: 0;
    padding: 0;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;

    .nav-item {
      position: relative;
      margin-right: 55px;

      .nav-link {
        padding: 0;
        font-size: 24px;
        font-weight: 400;
        color: #fffefe;
        -webkit-transition: all, .3s;
        transition: all, .3s;

        &::after {
          margin: 0 auto;
          -webkit-transform: translateY(7px);
                  transform: translateY(7px);
          content: '';
          display: block;
          width: 0;
          height: 2px;
          background: $yellow;
          -webkit-transition: all, .3s;
          transition: all, .3s;
        }

        &:hover {
          color: $yellow;

          &::after {
            width: 100%;
          }
        }

        &.active {
          &::after {
            width: 100%;
          }
        }
      }

      &__languages {
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        .languages {
          display: -ms-flex;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin-right: 60px;

          a {
            text-decoration: none;
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 400;
            color: #fffefe;
            margin: 0 5px;
            -webkit-transition: all, .3s;
            transition: all, .3s;

            &::after {
              margin: 0 auto;
              -webkit-transform: translateY(7px);
                      transform: translateY(7px);
              content: '';
              display: block;
              width: 0;
              height: 2px;
              background: $yellow;
              -webkit-transition: all, .3s;
              transition: all, .3s;
            }

            &:hover {
              color: $yellow;

              &::after {
                width: 100%;
              }
            }

            &.active {
              &::after {
                width: 100%;
              }
            }
          }
        }

        .enter-to-cab {
          display: -ms-flex;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          text-decoration: none;

          span {
            font-size: 24px;
            font-weight: 400;
            margin-right: 4px;
            color: #fffefe;
            -webkit-transition: all, .3s;
            transition: all, .3s;
          }

          img {
            width: 30px;
          }

          &:hover {
            span {
              color: $yellow;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 1199px) {
  .header-nav {
    .nav-bar {
      .nav-item {
        position: relative;
        margin-right: 40px;

        .nav-link {
          font-size: 22px;

          &::after {
            -webkit-transform: translateY(5px);
                    transform: translateY(5px);
          }
        }

        &__languages {
          .languages {
            margin-right: 40px;

            a {
              font-size: 22px;
              font-weight: 400;

              &::after {
                -webkit-transform: translateY(5px);
                        transform: translateY(5px);
              }
            }
          }

          .enter-to-cab {
            span {
              font-size: 22px;
            }

            img {
              width: 28px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  .nav-container {
    width: 100%;
    padding: 0;

    .row {
      margin: 0;
      position: relative;

      * {
        z-index: 3;
      }
    }
  }

  .header-nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    .toggler-icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      cursor: pointer;
      -webkit-transition: all, 0.5s;
      transition: all, 0.5s;
      position: absolute;
      right: 30px;
      -webkit-transform: translateY(50%);
              transform: translateY(50%);
      transition: all, 0.5s;


      div {
        width: 30px;
        height: 3px;
        background: #fffefe;
        border-radius: 3px;
        margin-top: 5px;
        -webkit-transition: all, 0.95s;
        transition: all, 0.95s;

        &:first-child {
          margin-top: 0;
        }
      }
    }

    .toggler-icon_close {
      div {
        width: 30px;
        height: 3px;
        background: #fffefe;
        margin-top: 5px;

        &:first-child {
          margin-top: 10px;
          -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
        }

        &:nth-child(2) {
          margin-top: -2px;
          -webkit-transform: rotate(-45deg);
                  transform: rotate(-45deg);
        }

        &:last-child {
          display: none;
        }
      }
    }

    .nav-bar {
      display: none;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      z-index: 310;
      background: #101111;
      padding: 10px 0;

      li {
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%;
        position: relative;
        margin-left: 0;
        padding-top: 20px;
        margin-bottom: 0;
        border-top: none;
        padding-bottom: 20px;
        -webkit-transition: all, .3s;
        transition: all, .3s;

        &:hover {
          background: lighten(#101111, 10%);
        }
      }

      .nav-item {
        margin-right: 0;
      }
    }
  }
}



@media only screen and (max-width : 767px) {
  .header-nav {
    .toggler-icon {
      right: 30px;
      -webkit-transform: translateY(40%);
              transform: translateY(40%);


      div {
        width: 25px;
        height: 2px;
      }
    }

    .toggler-icon_close {
      div {
        width: 25px;
        height: 2px;
      }
    }

    .nav-bar {
      top: 37px;
      padding: 5px 0;

      li {
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .nav-item {
        .nav-link {
          font-size: 20px;

          &::after {
            -webkit-transform: translateY(3px);
                    transform: translateY(3px);
          }
        }

        &__languages {
          .languages {
            margin-right: 40px;

            a {
              font-size: 20px;

              &::after {
                -webkit-transform: translateY(3px);
                        transform: translateY(3px);
              }
            }
          }

          .enter-to-cab {
            span {
              font-size: 20px;
            }

            img {
              width: 22px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 576px) {
  .header-nav {
    .toggler-icon {
      right: 20px;
      -webkit-transform: translateY(23%);
              transform: translateY(23%);
    }

    .nav-bar {
      top: 32px;
      padding: 5px 0;

      li {
        padding-top: 7px;
        padding-bottom: 7px;
      }

      .nav-item {
        .nav-link {
          font-size: 18px;

          &::after {
            -webkit-transform: translateY(3px);
                    transform: translateY(3px);
          }
        }

        &__languages {
          .languages {
            margin-right: 40px;

            a {
              font-size: 18px;

              &::after {
                -webkit-transform: translateY(3px);
                        transform: translateY(3px);
              }
            }
          }

          .enter-to-cab {
            span {
              font-size: 18px;
            }

            img {
              width: 20px;
            }
          }
        }
      }
    }
  }
}
